$font-color: (
    "default": #777,
    "offset": MediumSeaGreen,
	"bright": #FFF,
	"dark": #000,
);

@function color($color-name) { @return map-get($font-color, $color-name) };

@mixin breakpoint-mobile {
    @media (min-width: 0) and (max-width: 795px) { @content; }
}

@import url('https://fonts.googleapis.com/css?family=Coiny');

::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: #F1F1F1; }
::-webkit-scrollbar-thumb { background: #2D2D30; }
::-webkit-scrollbar-thumb:hover { background: #232323; }

* { box-sizing: border-box; }

html, body {
	color: color(default);
	height: 100%;
	line-height: 1.8;
	margin: 0;
	scroll-behavior: smooth;
	user-select: none;
}

nav {
	background-color: color(bright);
	box-shadow: 0px 3px 8px rgba(0,0,0,0.10);
    letter-spacing: 4px;
	overflow: hidden;
	position: fixed; 
    width: 100%; 
	z-index: 1;

	.container {
		margin: auto;
		max-width: 980px;
		min-width: 980px;

		.title {
			color: color(dark);
		  	font-weight: 700;
		}
	
		.links { float: right; }
	
		a {
			color: #232323;
			float: left;
			font-size: 17px;
			padding: 14px 16px;
			text-align: center;
			text-decoration: none;
			transition: all 0.2s;
	
			&:hover:not(.title) { color: color(offset); }
		}
	}
}

.cover {
	background-attachment: fixed;
    background-image: url(../img/cover.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    min-height: 100%;

	.caption {
		left: 0;
		position: absolute;
		text-align: center;
		top: 35%;
		width: 100%;

		span {
			color: color(bright);
			font-size: 56px;
			font-weight: 700;
			letter-spacing: 10px;
			padding: 18px;
		}

		i {
			border-radius: 50%;
			color: color(bright);
			font-size: 68px;
			padding: 5px 10px;
			transition: all 0.3s;

			&:hover { 
				animation: shake 1.5s;
                animation-iteration-count: infinite;
				color: color(offset); 
				transform: scale(1.2);
			}

			@keyframes shake {
                0% { transform: translate(1px, 1px) rotate(0deg); }
                10% { transform: translate(-1px, -2px) rotate(-1deg); }
                20% { transform: translate(-3px, 0px) rotate(1deg); }
                30% { transform: translate(3px, 2px) rotate(0deg); }
                40% { transform: translate(1px, -1px) rotate(1deg); }
                50% { transform: translate(-1px, 2px) rotate(-1deg); }
                60% { transform: translate(-3px, 1px) rotate(0deg); }
                70% { transform: translate(3px, 1px) rotate(-1deg); }
                80% { transform: translate(-1px, -1px) rotate(1deg); }
                90% { transform: translate(1px, 2px) rotate(0deg); }
                100% { transform: translate(1px, -2px) rotate(-1deg); }
            }
		}
	}
}

.section {
	margin: auto;
	max-width: 980px;
	padding: 32px 0;

	h3 {
		color: #777;
		font-size: 20px;
		letter-spacing: 5px;
		text-align: center;
		text-transform: uppercase;
	}

	h4 {
		color: #777;
		font-style: italic;
		letter-spacing: 2px;
		text-align: center;
		text-decoration: overline;
		margin-top: -30px;

		&.hampers {
			font-size: 25px;
			text-decoration: none !important;
			margin-top: -20px;
			margin-bottom: -6px;
		}
	}

	h5 {
		color: #777;
		font-size: 30px;
		font-style: italic;
		letter-spacing: 2px;
		text-align: center;
		margin: 10px 0;
	}

	h6 {
		color: color(dark);
		font-size: 16px;
		font-style: italic;
		letter-spacing: 2px;
		text-align: center;
		text-decoration: underline;
	}

	p { 
		text-align: justify;

		span { font-weight: 700; }
	}

	.color { color: color(offset); }
	.center { text-align: center; }
	.large {
		color: #9E1919;
		font-size: 24px;
	}

	.third {
		float: left;
		padding: 15px;
		text-align: center;
		width: 33.3%;
	
		i {
			background-color: color(offset);
			border-radius: 50%;
			cursor: default;
			font-size: 72px;
			color: color(bright);
			padding: 50px;
			transition: all 0.7s;
	
			&:hover {
				border-radius: 0%;
				transform: scale(1.2);
			}
		}
	
		p {
			text-align: center;
			font-style: italic;
			margin-top: -30px
		}
	}

	.column {
		float: left;
		padding: 8px;
		width: 33.3%;
		
		ul {
			border: 1px solid #EEE;
			list-style-type: none;
			margin: 0;
			padding: 0;
			transition: 0.2s;
	
			&:hover {
				box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
				transform: scale(1.03);
			}
	
			li {
				border-bottom: 1px solid #eee;
				padding: 20px;
				text-align: center;
	
				&.title {
					background-color: #111;
					color: #FFF;
					font-size: 25px;
				}
			}
	
			.image {
				height: 250px;
		
				img {
					width: 100%;
					box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
				}
			}
		
			.info { height: 140px; }
		}
	
		.food { background-color: #9E1919 !important; }
		.fruit { background-color: #239F38 !important; }
	}

	.half {
		float: left;
		width: 50%;
		padding: 25px;

		.hamper {
			width: 100%;
			height: auto;
		}

		.heading { font-weight: 700; }
		.pricing { margin: -10px 0 0 20px; }

		.big {
			text-align: center !important;
			font-size: 20px;
			font-weight: 700;
			font-style: italic;
		}

		.location { font-size: 24px; }
		.loca {
			margin-top: -20px;
			margin-left: 40px;

			p {
				font-size: 16px;
				margin-bottom: -18px;
			}
		}

		.details { 
			margin-top: 50px;

			.email {
				margin-top: -20px;
			
				a {
					color: #777;
					text-decoration: none;
					transition: all 0.3s;
			
					&:hover { color: color(dark); }
				}
			}
		}

		iframe {
			width: 100%;
			height: 340px;
			border: 0;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
			margin-bottom: 50px;
		}
	}

	.line {
		text-align: center;
		width: 100%;
		height: 3px;
		background-color: #777;
	}

	.quote {
		font-family: 'Coiny', cursive;
		color: #777;
	}
}

footer {
	background-color: #333;
	bottom: 0;
	color: color(bright);
    letter-spacing: 4px;
	overflow: hidden;
	text-align: center;
    width: 100%; 

	.container {
		margin: auto;
		max-width: 1400px;

		.fa-facebook-square {
			color: color(bright);
			float: left;
			font-size: 22px;
			padding: 0 6px 0 0;
			transition: all 0.5s;

			&:hover {
				opacity: 0.7;
			}
		}	
		
		.fa-angle-double-up {
			color: color(bright);
			float: right;
			font-size: 22px;
		}

		p {
			font-size: 12px;
			letter-spacing: 2px;
		}
	}
}